---
import Layout from '../layouts/Layout.astro';
import Features from '../components/Features';
---

<Layout title="Reliable, efficient delivery">
	<main class="px-10 py-[85px] text-center">
		<section class="hero mb-[76px] md:w-[50ch] md:mx-auto">
			<h2 class="font-light text-2xl leading-[36px] tracking-[0.17px]">Reliable, efficient delivery</h2>
			<h2 class="font-semibold text-2xl leading-[36px] tracking-[0.17px] mb-4">Powered by Technology</h2>
			<p class="font-normal text-[#4D4F62]/50">Our Artificial Intelligence powered tools use millions
				of project
				data
				points to ensure
				that your project is
				successful</p>
		</section>
		<Features />
	</main>
</Layout>

<style>

</style>